{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        {% if user.is_authenticated %}
            <h1>Appliances</h1>
            <div class="container">                      
                <div class="row text-center mb-5">
                    <div class="col-xl-6 col-lg-8">
                        <h2 class="font-weight-bold">Kitchen</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="timeline-steps d-flex flex-row overflow-auto">
                            {% if kitchen_appliances %}
                                {% for appliance in kitchen_appliances %}
                                    <div class="timeline-step me-3">
                                        <div class="timeline-content" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="" data-bs-content="And here's some amazing content. It's very engaging. Right?" data-bs-original-title="2003">
                                            <div class="inner-circle"></div>
                                            <p class="h6 mt-3 mb-1">{{ appliance.consumption_rate }} W/month</p>
                                            <p class="h6 text-muted mb-0 mb-lg-0">{{ appliance.appliance }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No appliances available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </br>
                
        {% else %}
            <h1>Login</h1>
            <br/>
            <form method="POST" action="{% url 'home' %}">
                <!-- IMPORTANT: Anytime you create a form in django you need csrf_token 
                => that is a cross-site request forgery token it helps your form from getting hijacked by hackers -->
                {% csrf_token %}
                <div class="mb-3">
                    <!-- <div id="userHelp" class="form-text">Your user name has to be unique.</div> -->
                    <input type="text" class="form-control" name="username" placeholder="User name" required>
                </div>
                <br/>
                <div class="mb-3">
                   <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <br/>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
